<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Number of years in the future to download time zone data for -->
    <add key="yearsAhead" value="5" />
  </appSettings>
  <connectionStrings>
    <!-- The connection string for your database -->
    <add name="database" connectionString="Server=YourDatabaseServerName;Database=YourDatabaseName;Trusted_Connection=True" />
  </connectionStrings>
</configuration>